[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SIRE"]
	path = SIRE
	url = https://github.com/cran/SIRE
[submodule "bootCT"]
	path = bootCT
	url = https://github.com/cran/bootCT
